# ====================================================================
.vs/
out/
build/
CMakeUserPresets.json
CMakeSettings.json

# ====================================================================
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.pdb
*.obj
*.o
*.ilk
*.exp

# ====================================================================
Thumbs.db
.DS_Store
